<h1>Artykuły</h1>
<% if (@articles.any?) %>
    <ul>
      <% @articles.each do |article| %>
      <li> <%= link_to article.title, article_path(article)%> </li>
      <% end %>
    </ul>
<% end %>

<%=link_to "Nowy", new_article_path %>