  <h1>Artykuły</h1>
<% if (@articles.any?) %>
    <ul>
      <!--mozna zamiast tego ->
      < %= render @articles % >
      i to wystarczy ale ta dluzsza forma mozna jeszcze przkazac locales:-->
      <%= render partial: :article, collection: @articles %>
    </ul>
<% end %>

<%= link_to "Nowy", new_article_path %>
