<h1 class="center">Artykuły</h1>
<div class="row">
  <% if (@articles.any?) %>
      <!--mozna zamiast tego ->
      < %= render @articles % >
      i to wystarczy ale ta dluzsza forma mozna jeszcze przkazac locales:-->
      <%= render partial: :article, collection: @articles %>
      <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::LinkRenderer, next_label: 'Nastęne', previous_label: 'Poprzednie', class: 'col-sm-12 center') %>
  <% end %>
</div>
<div class="col-xs-8 col-xs-offset-2">
  <%= link_to "Nowy", new_article_path, class: 'btn btn-success' %>
</div>