<h1>Hi form home</h1>

<!--<a href="/start/next">Go further</a>-->

<!--start_home_path jest generowane przez rails
mozna zrobic rake routes zeby podejrzec sciezki
oprocz path moze byc tez url-->

<%= link_to 'Go further', start_next_path %>