<h1>Hi from next</h1>
<!--<a href="/start/home">back</a>-->

<!--start_home_path jest generowane przez rails
mozna zrobic rake routes zeby podejrzec sciezki
oprocz path moze byc tez url-->
<!--<%= link_to 'Back', start_home_path %>-->

<!--to wydaje sie lepsze wyjscie-->
<a href=<%= start_home_path %>> back</a>
