<h1>Tu coś kiedyś będzie</h1>
<!--<a href="/start/home">back</a>-->

<!--start_home_path jest generowane przez rails
mozna zrobic rake routes zeby podejrzec sciezki
oprocz path moze byc tez url-->
<%= link_to 'Wróć', root_path, class: 'btn btn-info'%>

<!--to wydaje sie lepsze wyjscie-->
<!--<a href=<% root_path %>> back</a>-->
