<div class="jumbotron center">

  <h1>Witamy na blogu</h1>

  <!--<a href="/start/next">Go further</a>-->

  <!--start_home_path jest generowane przez rails
  mozna zrobic rake routes zeby podejrzec sciezki
  oprocz path moze byc tez url-->

  <%= link_to 'Zarejestruj się!', signup_path , class:[:btn, 'btn-info', 'btn-lg']%>

  <%= link_to 'Dalej!', about_path , class: 'btn btn-primary btn-lg'%>

  <%= link_to 'Artykuły', articles_path, class:[:btn, 'btn-primary', 'btn-lg']%>

</div>