<div class="container">
  <footer class="footer grouping">
    <small>&copy qh4r</small>
    <nav class="pull-right">
      <ul>
        <li><%= link_to "Start", root_path %></li>
        <li><%= link_to "O nas", about_path %></li>
        <li><%= link_to "Artykuły", articles_path %></li>
        <li><%= link_to "Kategorie", categories_path %></li>
      </ul>
    </nav>
  </footer>
</div>