<h1 class="center"><%= @category.name %></h1>
<% if active_user_is_admin? %>
    <div class="row category-utils">
      <div class="col-sm-offset-9 col-sm-2">
        <%= link_to :Edytuj, edit_category_path(@category), class: 'btn btn-lg btn-warning' %>
      </div>
    </div>
<% end %>
<%= render partial: 'articles/article', collection: @articles, as: :article %>

<%= will_paginate(@articles, render: WillPaginate::ActionView::BootstrapLinkRenderer,
                  next_label: 'Następne', previous_label: 'Poprzednie', class: :center) %>